html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

md-toolbar h1 {
	margin: auto;
}

md-sidenav md-list .md-button {
	color: inherit;
	text-align: left;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
}

md-list .md-button.selected {
	color: #03a9f4;
}

md-sidenav {
	overflow: hidden;
}

#content {
	overflow: hidden;
}

#content  {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
}

#content .md-button.shop {
	background-color: transparent;
	border: none;
	width: 48px;
	height: 48px;
	margin: 8px auto 16px 0;
	position: absolute;
	top: 10px;
	right: 40px;
}

#content md-icon.cover {
	margin-top: 10px;
}

#content .md-button.shop > md-icon {
	fill:black;
	width: 36px;
	height: 36px;
}

md-button.menuBtn > md-icon {
	fill:white;
	width: 24px;
	height: 24px;
}

#content .md-button.shop:active > md-icon {
	background-color: #dadada;
	border-radius: 75%;
	padding: 4px;
	transition: all 100ms ease-out 30ms;
}

#content img {
	display: block;
	height: auto;
	max-width: 500px;
}

.content-wrapper {
	position: relative;
}

md-toolbar h1 {
	font-size: 1.250em;
	font-weight: 400;
}

.cover {
	position: relative;
	height: 96px;
	border: 1px solid #ddd;
	display: inline-block;
	overflow: hidden;
	margin: 0px;
	vertical-align: middle;
	zoom: 0.70;
	transform: translateZ(0);
	-webkit-transform: scale(0.70);
	-moz-transform: scale(0.70);
}

span.name {
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 5px;
}

input {
	outline: none;
	border: none;
}

md-input-container {
	padding-bottom: 0;
}

.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
	color: dodgerblue;
}

md-toolbar {
	min-height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.highlighted{
	background-color: rgba(33,20,243,.3);
}
